.search{
    width: 3rem;
    height: 3rem;
}
.search img{
    width: 100%;
    height: 100%;
}
form input,form button{
    background-color: #e0f1f6 !important;
}
form button:hover{
    background-color: lightgray !important;
}
.weather-img{
    width: 15rem;
}
.spinner{
    width: 5rem !important;
    height: 5rem !important;
}
.main{
    height: 100vh;
    background-color: #000;
}
@media (max-width: 576px) {
    .main{
        height: auto;
        background-color: #fff;
    }
}
/* *{
    border: 1px solid red !important;
} */